body {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Rubik', sans-serif;
}

/*NAGŁÓWEK */
#nav{
    padding-top: 15px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:55px; 
    flex-wrap: wrap;
}

#nav a {
    all: unset; 
    height: 25px;
    padding: 15px;
    min-width: 100px;
    text-align: center;
    border-radius: 8px;
    font-size: 17px;
} 

#nav a:hover {
    background-color: #eb482b; 
    color: aliceblue;
}  

#nav:hover {
    border-bottom: 1px #808000 solid;    
}


/* ############################################################################################ */
/* STRONA O MNIE/ HOME  ------------------------------------------------------------------------*/
body#home {
    background-color:#404040;
    color: white;
    box-sizing:border-box;
}

.container1 {
    background-color:#262626;
    margin-top: 22px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    height: 85vh;
    border:  2px  solid yellow ;
    border-radius: 8px;
    display: flex;
    flex-direction:column;
}

#skills {

    margin-top: 25px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    font-size: 15px;
    justify-content: center;
    align-items: stretch;
    gap:75px; 
}

#skills div  {
   flex-basis: 165px;
   flex-grow: 0;
   flex-shrink: 0;
}

#skills ul li:first-child {
    padding-top: 8px;
    padding-bottom: 5px;
    text-transform: uppercase;
    list-style-type: none;
    font-size: 13px; 
    margin-left: -10px;
}

#skills div:hover {
    background-color:#990000;
    border-radius: 8px;
}

#skills ul li {
    font-size: 12px; 
    list-style-type: none;
}

#clock {
    text-align: right;   
    margin-left: auto;
    margin-right: auto; 
    padding-top: 15px;
    width: 88%;
}

/* ############################################################################################ */
/* STRONA CHESS ------------------------------------------------------------------------*/
body#chess {
    background-color:#FEFEFE;
    /* color: white; */
    box-sizing:border-box;
}

body#chess .container1 {
    all:unset;
    background-color:white;
    margin-top: 22px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border:  2px  solid red ;
    border-radius: 8px;
    display: flex;
    flex-direction:column;
}

body#chess #nav:hover {
    border-bottom: 1px red solid;    
}

body#chess .articles {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

 body#chess .articles div {
    padding: 15px;
    background-color: #F9FBFB ;
    width: 45%;
    font-size: 13px;
    border-radius: 10px;
    text-indent: 10px;
}

body#chess .articles div img { 
    float: left;
    margin-right: 10px; 
    border: 1px solid #00004d;
    object-fit:fill;
}

body#chess .articles div a {
    text-decoration: none;
    text-transform: uppercase;
}

body#chess .articles div a:hover {
  background-color:tomato;
  color: black;
  padding: 5px;
}

body#chess .articles div:hover {
    background-color:#ffffe6;
    font-weight: bold;
    /* padding: 1px; */
  }

/* ############################################################################################ */

/* STRONA PROJECTS ------------------------------------------------------------------------*/
body#projects {
    background-color:#dcdcdc;
    /* color: white; */
    box-sizing:border-box;
}

body#projects .container1 {
    all:unset;
    background-color:white;
    margin-top: 22px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border:  2px  solid red ;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
}

body#projects #nav:hover {
    border-bottom: 1px red solid;    
}

body#projects .articles {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

body#projects .articles div {
    padding: 15px;
    background-color: #F9FBFB ;
    width: 45%;
    font-size: 13px;
    border-radius: 8px;
    text-indent: 10px;
}

body#projects .articles div img { 
    float: left;
    margin-right: 10px; 
    border: 1px solid #00004d;
    object-fit:fill;
}

body#projects .articles div a {
    text-decoration: none;
    text-transform: uppercase;
}

body#projects .articles div a:hover {
  background-color:tomato;
  color: black;
  padding: 5px;
}

body#projects .articles div:hover {
    background-color:#ffffe6;
    font-weight: bold;
    /* padding: 1px; */
  }

/* ############################################################################################ */

/* STRONA ALGORITHMS ------------------------------------------------------------------------*/
body#algorithms {
    background-color:aliceblue;
    /* color: alice blue; */
    box-sizing:border-box;
}

body#algorithms .container1 {
    all:unset;
    background-color:white;
    margin-top: 22px;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border:  2px  solid red ;
    border-radius: 8px;
    display: flex;
    flex-direction:column;
}


#div_algorithms_menu {
    padding: 100px;
    max-width: 300px;
 
}

#div_algorithms_menu ul{
    margin: 0;
    padding: 10px;
	cursor: default;
	list-style-type: none;
    background-color:aliceblue;
    border-radius: 10px;
    border: 1px solid red;
}

#div_algorithms_menu ul ul{
    border: none;
}

#div_algorithms_menu a{
	text-decoration: none;
}

#div_algorithms_menu li {
    padding: 5px;
}

/* DO POPRAWY */
.collapse:active {
    background-color: yellow;
}

/* STOPKA  */
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
